.Header {
    background-color: rgba(175, 33, 33, 0.178);
    backdrop-filter: blur(5px);
    padding-bottom: 28px;
}

.Header-switch-icon {
    background: url('../photos/home-switch-button.svg') no-repeat center center;
}

.logo-img {}

.logo-img img {
    width: 80px;
}

.nav-wrapper {
    background: #3f51b5;
    color: black;
}

@media (min-width: 768px) {
    .Header-switch {
        display: none;
    }
}

@media (min-width: 768px) {
    .Header {
        background-color: initial;
        backdrop-filter: initial;
    }
}

.Header>.container {
    display: flex;
    width: 80%;
    padding-left: 10%;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}

.Header-left {
    z-index: 5;
}

.Header-left-logo .logo {
    background: url('../photos/website-logo.svg') no-repeat center center;
}

.logo {
    width: 175px;
    height: 41px;
}

@media (min-width: 768px) {
    .Header-left {
        z-index: initial;
    }
}

.Header-right {
    display: none;
}

@media (min-width: 768px) {
    .Header-right {
        display: flex;
    }
}

.Header-right-section:nth-child(1) {
    width: 206px;
    margin-right: 30px;
}

.Header-right-section:nth-child(2) {
    width: 131px;
    margin-right: 32px;
}

.Header-right-section img {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.Header-right-section .text {
    line-height: 22px;
    letter-spacing: 0.15px;
    font-size: 12px;
    color: white;
    font-weight: bold;
}